* {
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
    background-color: #e1e6ec;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10%;
    text-align: center;

}

body {
    background-color: rgb(188, 236, 216);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgba(80, 170, 125, 0.733);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00b377;
}

#addres-info {
    margin-top: 20px;
    text-align: left;
}